<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/tailwindcss-colors.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Chatphophyllite</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/ico/favicon-16x16.png">
    <link rel="manifest" href="/public/ico/site.webmanifest">
</head>